body {
    font-family: Mojangles.ttf, sans-serif;
}

header {
    background-color: #444;
    color: white;
    padding:5px 2px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

footer {
    text-align: center;
    padding: 1px;
    background-color: #444;
    color: white;
}